@media (max-width: 940px){
    #about-body{
        flex-direction: column ;
        gap: 30px;
    }

    #about-text{
        text-align: center;
    }

    #about-style{
        margin: auto;
    }
}
